/* General Styles */
.header-container {
  text-align: center;
}

.image-container {
  position: relative;
}

.image_home {
  width: 100%;
  height: auto;
}

.button-container {
  position: absolute;
  top: 100%; /* Adjust this value to move the buttons up or down */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* Change to row if you want buttons side by side */
  gap: 10px; /* Space between buttons */
}

.btn {
  width: 150px; /* Adjust size as needed */
  height: auto;
  cursor: pointer;
}

.shadow {
  width: 100%;
  margin: 5% 0;
}

h2 {
  font-size: 2rem;
  color: #F68B1E;
  margin: 20px 0;
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
  .button-container {
      top: 80%;
      transform: translate(-50%, -50%);
  }

  .btn {
      width: 120px; /* Adjust size as needed */
  }
}

@media only screen and (max-width: 768px) {
  .button-container {
    top: 50%;
  }

  .btn {
      width: 90px; /* Adjust size as needed */
  }

  h2 {
      font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .button-container {
      flex-direction: row;
      gap: 5px; /* Reduce gap between buttons for smaller screens */
  }

  .btn {
      width: 80px; /* Adjust size as needed */
  }

  h2 {
      font-size: 1.2rem;
  }
}
